li.exercise-list {
  font-family: Impact, fantasy;
  list-style: none;
  padding-top: 30px;
  padding-bottom: 15px;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

ul.exercise-box {
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

select.muscle-select {
  background-color: rgb(207, 207, 207);
  margin-left: 5px;
  font-family: Impact, fantasy;
  width:auto;
}

h1#workout-header {
  text-align: center;
  font-family: Impact, fantasy;
}

label.muscle-label {
  font-family: Impact, fantasy;
}

p#motivation-note {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
